* {
  box-sizing: border-box;
}

.myDiv {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;
}

.header {
  width: 100%;
  height: 85px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  box-shadow: rgb(255 0 0 / 100%) 0px 2px 0px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

body {
  padding-top: 85px;
  margin: 0;
}

.spaceDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  float: left;
}

.icons-center-row {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: row;
}

.rowwithgap {
  display: flex;
  flex-direction: row;
}

.liststyle {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.listcolumnstyle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.lsstyle {
  width: 100%;
  font-size: 1.4em;
  font-weight: 500;
  font-family: rubik,sans-serif;
  text-transform: uppercase;
}

.fontstyle {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.ullist {
  margin-top: 15px;
  padding-left: 200px;
}

.lupka {
  width: 20px;
  height: 20px;
}

.svg-margin {
  margin-bottom: 15px;
  margin-left: 50px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.show {
  display: none;
}

.invisible {
  display: block;
  visibility: hidden;
}

@media only screen and (min-width: 790px) and (max-width: 1000px) {
  .media_remove {
    display: none;
  }
  .show {
    display: flex;
  }
  .media_center {
    place-self: center;
  }
  .media_right {
    place-self: end;
  }
  .header, .spaceDiv, .liststyle, .listcolumnstyle, .icons-center-row, .right, .ullist {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .image-style {
    width: 100%;
    height: auto;
  }
  .article_text_style, .title-text, .lsstyle, .fontstyle {
    padding: 5px;
    font-size: large;
  }
}

.hover-container {
  position: relative;
}

.hover-container .search-form {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 130%;
  left: -120%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

.hover-container:hover .search-form, .hover-container:focus-within .search-form {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.hover-container:not(:hover) .search-form {
  opacity: 0;
  visibility: hidden;
  transition: opacity 550ms ease-in-out, visibility 550ms ease-in-out;
}

.article_text_style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

.title-text {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-size: 1.2em;
  font-family: 'Merriweather Sans', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: block;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.hover-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.article_text_style:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.Article-title-text {
  font-size: 3rem;
  line-height: 3.3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.date-style {
  text-align: start;
  margin-bottom: 50px;
  align-self: start;
  color: rgb(131 132 135);
}

.image-style {
  height: 500px;
  align-self: center;
  width: 100%;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #000000;
  margin: 20px 0;
}

.Introduction_class {
  font-size: 1.6em;
  font-family: neusa-next-std, sans-serif;
}

.ArticleListStyle{

list-style-type: none;
position: relative;
align-self: center;
}

.ArticleAStyle{
display: inline-block;
position: relative;
text-align: center;
overflow: hidden;
border-radius: 32px;
}

.ArticleImageStyle{
width: 500px;
height: 700px;
z-index: 0;

}

@media only screen and (max-width: 768px) {

.ullist{
margin-top: 15px;
padding-left: 0px;
}

.media_remove {
    display: none;
  }
  .show {
    display: flex;
  }
  .media_center {
    place-self: center;
  }
  .media_right {
    place-self: end;
  }
  .header,  .liststyle, .ullist {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

   .listcolumnstyle{
   flex-direction: column;
   align-items: center;
   width: 100%;
   gap: 0px;
   padding-left: 0px;
   }

  .right{
  width: 80%;
  }
  .icons-center-row{
   align-items: center;
    width: 100%;


  }
  .spaceDiv{
  flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .image-style {
    width: 100%;
    height: auto;
  }
  .article_text_style, .title-text, .lsstyle, .fontstyle {
    padding: 5px;
    font-size: large;
    width: 100%;
  }
  .ArticleListStyle {
    list-style-type: none;
    position: relative;
    align-self: center;
    width: 100%;
}
.ArticleImageStyle {
    width: 100%;

}
}