{% extends 'main/base.html' %}

{% load static %}
{% load custom_filters %}

{% block skrypty %}
<script src="{% static 'js/scrolling.js' %}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
<title>{{ post.ArticleTitle}} - Danews.pl</title>
{% endblock %}

{% block introduction %}
<meta name="description" content="{{post.introduction}} [...]">
    {% endblock %}

{% block rest %}
<div class="Article_div">
    <div class="Article_div_style">
        <div class="Article_div_title">
            <h1 class="Article-title-text">{{ post.ArticleTitle }}</h1>
            <p class="date-style">{{post.formatted_date }}</p>
            <div class="Article_div_image">
                <img class="image-style" src="{{post.images.0.image}}">
            </div>

            <h2 class="Introduction_class">{{post.introduction|split_paragraphs|add_bold|add_quote|add_italic|add_underline|add_strikethrough|add_images:post|add_videos:post|safe}}</h2>
        </div>
    </div>
    <hr>
    <div class="Article_div_content">
        <p>{{ post.content|split_paragraphs|add_bold|add_quote|add_italic|add_underline|add_strikethrough|add_images:post|add_videos:post|safe}}</p>
    </div>
</div>
{% endblock %}

