{% extends 'main/base.html' %}

{% load static %}
{% block skrypty %}
<script src="{% static 'js/scrolling.js' %}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
{% endblock %}
{% block rest %}
<div>
    <p class="Article-title-text">{{ post.ArticleTitle }}</p>
    <p>{{post.formatted_date }}</p>
</div>
{% endblock %}
<!--            <li style="list-style-type: none; position: relative; align-self: center;">-->
<!--                <a href="{{ post.ArticleTitle }}" class="fontstyle" style="display: inline-block; position: relative; text-align: center; overflow: hidden;" id="post{{ post.id }}">-->
<!--                    <div class="article_text_style">-->
<!--                        <p class="title-text">{{ post.ArticleTitle }}</p>-->
<!--                        <p class="hover-text">{{ post.content }}</p>-->
<!--                    </div>-->
<!--                    <img style="width: 500px; height: 700px; z-index: 0;" src="{{ post.image }}" alt="{{ post.title }}">-->
<!--                </a>-->
<!--            </li>-->

