{% extends 'main/base.html' %}

{% load static %}
{% block skrypty %}
<script src="{% static 'js/scrolling.js' %}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
{% endblock %}
{% block rest %}
<div style="margin-left: 300px;margin-right: 300px;">
    <div style="display:flex flex-wrap: wrap; place-content: center;">
        <div style="align-items: center; display: flex; flex-flow: column;">
            <h1 class="Article-title-text">{{ post.ArticleTitle }}</h1>
            <p class="date-style">{{post.formatted_date }}</p>
            <div style="display: flex">
                <img class="image-style" src="{{post.image}}">
            </div>

            <h2 class="Introduction_class">{{post.introduction}}</h2>
        </div>
    </div>
    <hr>
    <div style="display:flex flex-wrap: wrap; place-content: center;display: flex;">
        <p>{{post.content}}</p>
    </div>
</div>
{% endblock %}

