<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/posting.js' %}"></script>
</head>
<body>
    <h1>Upload Files</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <form id="uploadForm" enctype="multipart/form-data">
        <div>
            <label for="ArticleTitle">Article Title:</label>
            <input type="text" id="ArticleTitle" name="ArticleTitle" required>
        </div>
        <div>
            <label for="introduction">Introduction:</label>
            <textarea id="introduction" name="introduction" required></textarea>
        </div>
        <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <!-- Container to dynamically load tags -->
        <div id="tagsContainer"></div>

        <div>
            <label for="file">Select Image:</label>
            <input type="file" id="file" name="images" accept="image/*" multiple>
        </div>
        <div>
            <label for="cos">Select Video:</label>
            <input type="file" id="cos" name="videos" accept="video/*" multiple>
        </div>
        <button type="submit">Upload</button>
    </form>
    <div id="response"></div>
</body>
</html>
